.u-c-p-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-c-p-wrapper {
    width: 800px;
    height: 200px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    padding-top: 10px;
}


.u-c-p-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    color: #141414;
}

.u-c-p-content p {
    margin-bottom: 1rem;
    font-size: large;
}

.u-c-p-content button {
    padding: 10px 24px;
    background: #141414;
    color: #fff;
    border: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

.u-c-p-close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 32px;
    height: 32px;
    padding: 0;
    z-index: 10;
}

.u-c-p-text {
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2px;
}

.u-c-p-icon {
    position: absolute;
    color: rgb(59, 59, 59);
    font-size: 24px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 10px;
}

.u-c-p-input {
    width: 550px;
    height: 40px;
    border-radius: 5px;
    text-indent: 50px;
    margin-bottom: 20px;
    font-size: 16px;
}

.u-c-p-input::placeholder {
    font-family: Poppins;
    font-weight: 600;
    color: rgb(122, 122, 122);
}

.u-c-p-input:focus {
    border: 2px solid #3965F3;
    resize: none;
    outline: none;
}

.u-c-p-input-valid {
    border: 2px solid #00BE5E;
    resize: none;
    outline: none;
}

.u-c-p-input-valid:focus {
    border: 2px solid #00BE5E;
    resize: none;
    outline: none;
}

.u-c-p-input-invalid {
    border: 2px solid red;
    resize: none;
    outline: none;
}

.u-c-p-input-invalid:focus {
    border: 2px solid red;
    resize: none;
    outline: none;
}

.u-c-p-input:focus::placeholder {
    color: transparent;
    transition: color 0.25s ease-in;
}

.u-c-p-invalid {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    color: red;
    margin-top: -10px;
    margin-bottom: 20px;
    transition: all 0.25s ease-in;
}

.u-c-p-invalid-icon {
    position: absolute;
    color: white;
    margin-left: -60px;
    margin-top: 10px;
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.u-c-p-valid-icon {
    position: absolute;
    color: white;
    background-color: #00BE5E;
    width: 25px;
    height: 25px;
    margin-left: -60px;
    margin-top: 10px;
    border-radius: 50%;
}

.u-c-p-button {
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #3965F3;
    border-radius: 2.5px;
    color: #ffffff;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    text-align: center;
    cursor: pointer;
}

.u-c-p-button:disabled {
    background-color: grey;
    cursor: context-menu;
}